mixin head(title)
    doctype html
    html(lang='tr')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        //- a.navbar-brand(href="/") Main Page
        .collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                a.nav-link(href="/") Home
                li.nav-item
                a.nav-link(href="/leads") Leads
            .navbar-right
            if user
                span.navbar-text Hello #{user.email}!
            .navbar-right
                ul.navbar-nav.mr-auto
                    if !user
                        li.nav-item
                            a.nav-link(href="/signup") Sign up
                    if !user
                        li.nav-item
                            a.nav-link(href="/login") Login
                    if user
                        li.nav-item
                            a.nav-link(href="/logout") Logout
    div(class='container', style="margin-top: 10px")